.editBtn{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px 10px;
    margin-right: 2px;
}

.deleteBtn{
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px 10px;
    margin-left: 10px;
    position: relative;
    bottom: 0;
}

#modifyBtn{
    background-color: rgb(231, 159, 23);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 7px 10px;
    position: relative;
    top: 2px;
    margin-left: 10px;
}
